/* html,
body {
    height: 100%;
    box-sizing: border-box;
    background: white;

} */
body {
    background-color: rgb(34, 33, 32);
    margin: 0;
    padding: 0;


}

main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    color: aliceblue;
    gap: 20px;
}

section {
    margin-top: 1px;
}


#timer {
    font-size: 3rem;
    border: 2px solid black;
    width: 150px;
    text-align: center;
}


.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;


    div {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }
}

.info-box {
    border: 2px solid rgb(109, 108, 108);
    padding: 8px;
    font-size: larger;

}

.game-container {
    background-image: url("img/green-grass-540x540_jpg-Dec-06-2023-05-24-24-3308-PM.webp");
    display: grid;
    grid-template-columns: repeat(5, 76px);
    gap: 8px;
    border: 3px solid rgb(19, 18, 18);
    padding: 10px;
    border-radius: 10px;
}

.hole {
    height: 70px;
    background-image: url("img/jord.jpg");
    border: 5px solid rgba(47, 43, 43, 0.587);
    cursor: pointer;
    border-radius: 100px;
}

.hole>img {
    display: none;
    position: absolute;
    animation: scale-up 5 forwards;
    width: 150px;
    margin-left: -30px;
    margin-top: -10px;
}

.hole,
img.active {
    display: inline;

    img {
        animation: scale-up 5;
        -webkit-animation-name: scale-up;
        animation: scale-up .5s forwards;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

}

#startNewGameButton {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;

}

/* Hover-effekt */
#startNewGameButton:hover {
    background-color: #45a049;
    /* Mörkare grön vid hover */
}

@keyframes scale-up {
    from {
        opacity: 0.8;
        scale: 0.3;
    }

    to {
        opacity: 1;
        scale: 1.2;
    }
}