html,
body {
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(191, 191, 206);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

section {
    margin-top: 1px;
}


#timer {
    font-size: 3rem;
    border: 2px solid black;
    width: 150px;
    text-align: center;
}


.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

    div {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }
}

.info-box {
    border: 2px solid rgb(109, 108, 108);
    padding: 8px;
    font-size: larger;

}


.game-container {
    background-color: rgb(50, 150, 50);
    display: grid;
    grid-template-columns: repeat(5, 76px);
    gap: 10px;
    border: 3px solid rgb(19, 18, 18);
    padding: 20px;
    border-radius: 10px;
}

.hole {
    height: 70px;
    background: rgb(98, 90, 90);
    border: 3px solid rgb(47, 43, 43);
    cursor: pointer;
    border-radius: 100px;
}



.hole.active {
    background-image: url("https://media.istockphoto.com/id/177013895/sv/foto/a-mole-digging-his-way-out-of-a-pile-of-dirt.jpg?s=1024x1024&w=is&k=20&c=SV309TVtBD126GSPWM1zbh9tPbMQRSvmetLaYjGsZq4=");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#startNewGameButton {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

/* Hover-effekt */
#startNewGameButton:hover {
    background-color: #45a049;
    /* Mörkare grön vid hover */
}


/* Add these styles to your CSS */
#top10Container.hidden {
  display: none;
}

#top10Container.show {
  display: block;
}

#top10Container {
    border: 2px solid black;
    border-radius: 20px;
    padding: 1.8rem;
    margin: 2rem;
    line-height: 1.7rem;
}

#top10List  {
    list-style-type:none;
}
